{% extends "main.html" %}

{% block content %}
{% set about_me_content %}
{% set researcher = config.extra.researcher %}
<div class="profile-grid">
  <div>
    <div class="profile-bio">{{ researcher.shortbio | safe }}</div>
  </div>
  <div>
    <img class="profile-photo" src="{{ researcher.photo }}" alt="{{ researcher.name }}">
    <div class="profile-name">{{ researcher.name }}</div>
    <div class="profile-role">{{ researcher.role }}</div>
    <p class="profile-links">
      {% for social in config.extra.social %}
      {% set icon_path = ".icons/" ~ social.icon ~ ".svg" %}
      <a href="{{ social.link }}" aria-label="{{ social.title }}" title="{{ social.title }}">
        {% include icon_path %}
      </a>
      {% endfor %}
    </p>
  </div>
</div>
{% endset %}

{% set research_interests_content %}
{% set researcher = config.extra.researcher %}
<div class="profile-columns" style="margin-top: 0;">
  <div>
    <strong><span class="profile-icon">{% include ".icons/fontawesome/solid/flask.svg" %}</span> Interests</strong>
    <ul>
      {% for item in researcher.interests %}
      <li>{{ item }}</li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <strong><span class="profile-icon">{% include ".icons/fontawesome/solid/gears.svg" %}</span> Applications</strong>
    <ul>
      {% for item in researcher.applications %}
      <li>{{ item }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endset %}

<div class="home-container">
{{ page.content 
  | replace('<!-- ABOUT_ME_CONTENT -->', about_me_content) 
  | replace('<!-- RESEARCH_INTERESTS_CONTENT -->', research_interests_content) }}
</div>
{% endblock %}
